# Environment files
*.env

# Config and logs folders
duckdns/config/*
!duckdns/config/.gitkeep
ldap-auth/config/*
!ldap-auth/config/.gitkeep
swag/config/*
!swag/config/.gitkeep
homepage/config/logs
prowlarr/config/*
!prowlarr/config/.gitkeep
lidarr/config/*
!lidarr/config/.gitkeep
radarr/config/*
!radarr/config/.gitkeep
sonarr/config/*
!sonarr/config/.gitkeep
jellyfin/config/*
!jellyfin/config/.gitkeep
qbittorrent/config/*
!qbittorrent/config/.gitkeep
speedtest-tracker/config/*
!speedtest-tracker/config/.gitkeep
tailscale/tailscale/*
!tailscale/tailscale/.gitkeep

# Homepage background img
homepage/img/*
!homepage/img/readme.txt

